/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.welove2p-workspace{
	-webkit-box-shadow: 0 0 5px 0 #000000;
	box-shadow: 0 0 5px 0 #000000;
	display: inline-block;
	position: relative;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
}

.welove2p-workspace #svgRoot{
	position: absolute;
	left: 0px;
	top: 0px;

	right: 0px;
	bottom: 0px;
}
.wl2p-properties{
	position: fixed;
	background-color: #FFF;
	left: 0px;
	right: 0px;
	bottom: 0px;
	min-height:200px;
}
.wl2p-properties .zPanels{
	display: none;
}

#image_property_area
{
  background-color  : #F1F1F1;
  z-index           : 999;
  position          : fixed;
  bottom            : 0px;
  display           : none;
}

#source_list
{
  list-style  : none;
  width       : 230px;
  float       : left; 
  margin-top  : 10px;
}

#source_list li
{
  width   : 180px;
  height  : 40px;
  margin-top   : 5px;
  margin-bottom: 5px;
  border  : 1px solid #9BD3D8;
  background-color: #F8F8F8;
  font-size   : 18px;
  color       : #22B4CE;
  font-weight : bold;
  line-height : 40px;
  padding-left: 55px;
  background-size     : 35px;
  background-position : 10px center;
  background-repeat   : no-repeat;
  cursor  : pointer;
}

#source_list li.sel
{
  color   : #EC008C;
}

#img_skydrive
{
  background  : url(../img/icon_skydrive.png);
}

#img_picasa
{
  background  : url(../img/icon_picasa.png);
}

#img_flickr
{
  background  : url(../img/icon_flickr.png);
}

#img_facebook
{
  background  : url(../img/icon_facebook.png);
}

#img_instagram
{
  background  : url(../img/icon_instagram.png);
}

#upload_image_area
{
  width       : calc(100% - 250px);
  height      : 250px;
  margin-left: 250px;
  position: absolute;
  bottom : 0px;
  float       : none;
}

#upload_image_area section
{
  margin-top  : 20px;
  margin-left : 50px;
}

#upload_image_area section h4
{
  margin-top    : 50px;
  margin-bottom : 25px;
}

.uploading_panel
{
  width       : calc(100% - 250px);
  height      : 250px;
  margin-left: 250px;
  position: absolute;
  bottom : 0px;
  float       : none;
  display: none;
}

/*#upload_facebook
{
  width       : calc(100% - 250px);
  height      : 250px;
  margin-left: 250px;
  position: absolute;
  bottom : 0px;
  float       : none;
  display: none;
}*/

.social_uploaded_image_list
{
  /*position    : absolute;*/
  display     : none;
  height      : 70px;
  padding-left: 0px;
  margin-top  : 10px;
}
.social_uploaded_image_list li
{
  position: relative;
  float       : left;
  width       : 64px;
  height      : 64px;
  list-style  : none;
  border      : 2px solid #9BD3D8;
  box-shadow  : 0px 0px 10px gray;
  cursor      : pointer;
  margin-right: 5px;
}
.social_uploaded_image_list li img
{
  width       : 60px;
  height      : 60px;
}


#update_background_area
{
  width       : calc(100% - 250px);
  height      : 230px;
  float       : left;
}

#update_background_area section
{
  margin-top  : 20px;
  margin-left : 50px;
}

#update_background_area section h4
{
  margin-top    : 50px;
  margin-bottom : 25px;
}

#fileToUpload
{
  position    : absolute;
  z-index     : 2;
  opacity     : 0.01;
  margin-top  : -25px;
  width       : 135px;
}

#fileupload_background
{
    position: absolute;
    opacity: 0.01;
    width: 112px;
    height: 112px;
    margin-left: 0px;
    z-index: 3;
}
#fileupload_loadSVG
{
    position: absolute;
    opacity: 0.01;
    width: 112px;
    height: 112px;
    margin-left: 0px;
    z-index: 3;
}

input[type=file] {
  float: left;
    display: block;
    position: relative;
    margin-top: -3px;
    width: 100px;
    height: 50px;
    margin-left: -70px;
    opacity: 0.01;
}

#filebackground
{
  float: left;
  /*position    : absolute;
  z-index     : 2;
  opacity     : 0.01;
  margin-top  : -25px;
  margin-left : -35px;
  width       : 110px;
  height      : 110px;*/
}

#uploaded_image_list
{
  /*position    : absolute;*/
  display     : none;
  height      : 70px;
  padding-left: 0px;
  margin-top  : 10px;
}

#uploaded_image_list li
{
  float       : left;
  width       : 64px;
  height      : 64px;
  list-style  : none;
  border      : 2px solid #9BD3D8;
  box-shadow  : 0px 0px 10px gray;
  cursor      : pointer;
  margin-right: 5px;
}

#upload_image_area li img
{
  width       : 60px;
  height      : 60px;
}

#btn_add_more
{
  float: left;
  display     : none;
  font-size   : 16px;
  font-family : arial;
  margin-top: 10px;
}

#fillColor
{
  list-style  : none;
}

#fillColor li
{
  float         : left;
  margin-right  : 5px;
}

#fillColor li input
{
  width       : 25px;
  height      : 25px;
}

.clear_both
{
  clear       : both;
}

#background_area
{
  width             : 83.33%;
  height            : 230px;
  left              : 16.66%;
  float             : left;
  position          : fixed;
  bottom            : 0px;
  z-index           : 999;
  display           : none;
  background-color  : #F1F1F1;
}

#background_area center
{
  padding           : 20px;
  font-size         : 18px;
  font-family       : "arial";
}

#background_area ul
{
  list-style        : none;
}

#background_area li
{
  float             : left;
  margin-right      : 15px;
}

#background_area button
{
  padding           : 30px;
}

#background_area img
{
  width             : 48px;
  height            : 48px;
}

.bgfillcolor
{
    opacity: 0.01;
    position: absolute;
    width: 120px;
    height: 120px;
    margin-left: 35px;
    margin-top: -35px;
}

#image-filter-area
{
  list-style: none;
}

#image-filter-area li
{
  margin-bottom: 10px;
}

#image-filter-area li input
{
  width   : 100px;
}

.progress
{
  width   : 480px;
  height  : 15px;
  margin-left : 10px;
  margin-top  : 120px;
}

#text_qrcode
{
  padding   : 10px;
  width     : calc(100% - 20px);
  margin-left: 10px;
  height    : 55px;
}

#overlay_qrcode
{
  /*width   : 750px;*/
}

#qrcode_area img
{
  margin-left : 20px;
}

#qrul
{
  list-style: none;
  margin-top: 10px;
  padding-left: 20px;
  width   : 100%;
  height  : 20px;
}

#qrul li
{
  float   : left;
  margin-left: 10px;
  font-size: 12px;
}

#qrul li input[type="text"]
{
  width   : 80px;
}

.tab
{
  list-style: none;
  height: 17px;
  padding-left: 10px;
}

.tab li
{
  float   : left;
  width: 80px;
  padding: 5px 3px;
  background-color: #ddd;
  margin-right: 5px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.tab li.sel
{
  color: white;
  background-color: #666;
}

.property-ul
{
  width     : 100%;
  height    : 30px;
  list-style: none;
  padding-left: 20px;
}

.property-ul li
{
  float     : left;
  font-size : 12px;
  font-family: arial;
  padding-left: 10px;
}

#row_drwaging_view
{
  float: left;
}

#image_tools_div
{
  position: absolute;
  right: -50px;
  top: 30px;
}
#image_tools_div input
{
  display: block;
  width: 100px;
  height: 30px;
  margin-top: 10px;
}

.panel
{
  display: none;
  position: absolute;
  /*margin: auto, auto;*/
  width: 800px;
  height: 480px;
  top:  50px;
  left: 175px;
  background-color: white;
  /*opacity: 0.1;*/
  z-index: 99999;
}
#close_preview_button
{
  position: absolute;
  top: 10px;
  margin: 10px, 10px;
/*  top:  150px;
  left:  50px;
  width: 600px;
  height: 480px;*/
}
#preview_image
{
  /*position: absolute;*/
  margin-top: 0px;
  margin-left: 0px;
  z-index: 998;
}
#preview_border
{
  position: absolute;
  top:  50px;
  left:  100px;
  width: 600px;
  height: 200px;
  z-index: 999;
  border: 2px solid #0000aa;
}
#drawing_view
{
  position: absolute;
  left: 175px;
  top: 50px;
}
#canvas_box
{ 
  overflow: auto;
}
#border_view
{
  position: absolute;
  box-shadow: 0 0 5px 0 #000000;
}
.welove2p-workspace #welove2pc{
  position: absolute;
}